<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PMTNCBA.Properties.Settings.THITRACNGHIEMConnectionString"
            connectionString="Data Source=KA\NHI1203;Initial Catalog=THITRACNGHIEM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PMTNCBA.Properties.Settings.LTCSDLConnectionString"
            connectionString="Data Source=KA\NHI1203;Initial Catalog=LTCSDL;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>